/JavaApplication2/nbproject/private/
/Layouts/nbproject/private/
/Layouts/build/
/Practica1/nbproject/private/
/Practica1/build/
/BuscaMinas/nbproject/private/
/BuscaMinas/build/
/EjCardLayout/nbproject/private/
/EjCardLayout/build/
/EjCardLayout/dist/